body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-size: 100px;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
}

.message {
  text-align: center;
  margin-top: 20px;
}

.link {
  display: block;
  text-align: center;
  margin-top: 20px;
}
